:root {
    --dark-blue: hsl(240, 38%, 20%);
    --grayish-blue: hsl(240, 18%, 77%);
}

* {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
}

body {
    background-image: url('../images/pattern-curve.svg');
    background-position: bottom left;
    background-repeat: no-repeat;
}

.testimonials {
    display: flex;
    height: 100vh;
    width: 80%;
    margin: auto;
}

.testimonial {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.testimonial-content {
    background-image: url('../images/pattern-quotes.svg');
    background-position-x: 3em;
    background-position-y: top;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    width: 60%;
    padding-top: 30px;
}

.testimonial-text {
    color: var(--dark-blue);
    font-weight: lighter;
    z-index: 1;
}

.testimonial-author {
    color: var(--dark-blue);
    font-weight: bold;
}

.testimonial-author span {
    color: var(--grayish-blue);
    font-weight: normal;
}

.testimonial-image {
    background-image: url('../images/pattern-bg.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: -100px;
    z-index: 0;
}

.testimonial-image img {
    border-radius: 5px;
    box-shadow: 5px 35px 40px -20px rgba(54, 18, 120, 0.5);
}

.testimonial-buttons {
    background-color: #fff;
    border-radius: 40px;
    position: absolute;
    bottom: 180px;
    right: 650px;
}

.testimonial-buttons button {
    border: none;
    cursor: pointer;
    height: 50px;
    width: 50px;
}

.testimonial-buttons button:focus {
    outline: none;
}

.testimonial-buttons button.testimonial-prev {
    background-color: #fff;
    background-image: url('../images/icon-prev.svg');
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px 0 0 20px;
}

.testimonial-buttons button.testimonial-next {
    background-color: #fff;
    background-image: url('../images/icon-next.svg');
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0 20px 20px 0;
}